*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:burlywood;
}
h1{
    background-color: #081b31;
    color: darksalmon;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.8;
    cursor:pointer;
}
img{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    object-fit: contain;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: darksalmon;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
@media(max-width:768px){
    .choice{
        height: 50px;
        width: 50px;
        padding: 0.6rem;
    }
    #user-score,#comp-score{
        font-size: 1.9rem;
    }
    .sccore *{
       font-size: 1.7rem
    }
    #msg{
        font-size: 1.3rem;
        padding: 0.8rem;
    }
}
@media(max-width:480px){
    .choice{
        height: 50px;
        width: 50px;
        padding: 0.6rem;
    }
    #user-score,#comp-score{
        font-size: 1.9rem;
    }
    .sccore *{
        font-size: 1.7rem
     }
    #msg{
        font-size: 1.3rem;
        padding: 0.8rem;
     }
}